section {
    width: 80%;
    padding: 20px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#sec {
    background-color: aliceblue;
}
.secDiv{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2 {
    text-align: center;
}
.cmsg {
    margin-top: 30px;
    display: flex;
}
button {
    padding: 10px 30px;
    font-size: 1em;
}