@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, li{
    list-style: none;
}
.fix,
.fix::before,
.fix::after{
    display: block;
    content: '';
    clear: both;
    zoom: 1;
}
article img{
    border-radius: 50%;
}